<div class="container-fluid h-100">
  <div class="row h-100">
    <div class="col d-flex align-items-center justify-content-center">
      <div class="position-absolute top-0 start-0 m-2">
        <button
          class="btn btn-secondary rounded-circle d-flex align-items-center justify-content-center"
          routerLink=""
        >
          <i class="bi bi-arrow-left"></i>
        </button>
      </div>
      <div class="card shadow bg-transparent">
        <img
          src="/assets/imgs/logo.svg"
          class="card-img-top img-fluid logo mx-auto"
          alt="..."
        />
        <div class="card-text">
          <p class="fw-semibold text-center h2 mb-3">ACCEDI ALLA TUA UTENZA</p>
          <form [formGroup]="loginForm" (submit)="login()">
            <div class="form-floating mb-3">
              <input
                type="email"
                class="form-control"
                id="email"
                placeholder="Email"
                required
                autocomplete="email"
                formControlName="email"
                [ngClass]="{
                  'is-invalid':
                    (email?.touched || email?.dirty) && email?.invalid,
                  'is-valid': (email?.touched || email?.dirty) && email?.valid
                }"
              />
              <label for="email">Email</label>
            </div>
            <div class="input-group mb-3">
              <div class="form-floating">
                <input
                  [type]="showPassword ? 'text' : 'password'"
                  class="form-control border-end-0"
                  id="password"
                  placeholder="Password"
                  required
                  autocomplete="current-password"
                  formControlName="password"
                  [ngClass]="{
                    'is-invalid':
                      (password?.touched || password?.dirty) &&
                      password?.invalid,
                    'is-valid':
                      (password?.touched || password?.dirty) && password?.valid
                  }"
                />
                <label for="password">Password</label>
              </div>
              <span
                class="input-group-text bg-white border-start-0"
                [ngClass]="{
                  'border-danger':
                    (password?.touched || password?.dirty) && password?.invalid,
                  'border-success':
                    (password?.touched || password?.dirty) && password?.valid
                }"
                ><i
                  class="bi text-primary"
                  [ngClass]="{
                    'bi-eye-slash-fill': showPassword,
                    'bi-eye-fill': !showPassword
                  }"
                  (click)="togglePassword()"
                ></i
              ></span>
            </div>

            <div class="mb-3 d-flex justify-content-center">
              <a routerLink="/forgot-password" class="text-secondary"
                >Password dimenticata?</a
              >
            </div>
            <div class="d-grid mb-3">
              <button
                class="btn btn-primary"
                [disabled]="loginForm.invalid || !(isBtnEnabled$ | async)"
                type="submit"
              >
                <span *ngIf="isBtnEnabled$ | async">Continua</span>
                <div
                  class="spinner-grow text-light"
                  *ngIf="!(isBtnEnabled$ | async)"
                  role="status"
                >
                  <span class="visually-hidden">Loading...</span>
                </div>
              </button>
            </div>
            <div class="mb-3 d-flex justify-content-center">
              <a routerLink="/sign-up" class="text-secondary"
                >Non sei ancora registrato? Fallo ora!</a
              >
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
